body {
    font-family: "Kantumruy pro";
    background-color: #DEC16D;
    color: #4464E0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Black Ops One";
    font-size: 30pt;
}

header {
    text-align: center;
}

#hero, footer {
    text-align: center;
    background-color: #9E9375;
    border: 2px solid #5E5A4C;
    padding: 10px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}