body {
    font-family: "Kantumruy pro";
    background-color: #DEC16D;
    color: #4464E0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Black Ops One";
    text-align: center;
}

h1{
    font-size:40pt;
}

header {
    text-align: center;
}

#hero, footer {
    text-align: center;
    background-color: #9E9375;
    border: 2px solid #5E5A4C;
    padding: 10px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(odd){
    list-style-type:decimal-leading-zero;
}

#hobbies ul li:nth-child(even){
    text-align: right;
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
}

#gallery{
    border: 5px solid #5E5A4C;
    background-color: #9E9375;
}

#gallery img{
    max-width:100%;
    border: 10px solid #5E5A4C;
}

#gallery figure{
    text-align: center;
}

#gallery hr{
    border-top: 5px solid #5E5A4C;
}